<!DOCTYPE html>
<html lang="en" ng-app="resume" ng-cloak>
<head>
  	<title>Vasu Jogani</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="resume.css">
  	<style>
	  	[ng\:cloak], [ng-cloak], .ng-cloak {
  			display:none;
  		}
 	</style>
</head>
<body>

<!--<div class="jumbotron cnt nomargin">
	<h1>Vasu Jogani</h1>
</div>
-->
<div class="container-fluid" >
	<div class="row">
    	<div class="col-sm-3 left" ng-controller="listController">
    		<h1 class="largeheading">Vasu</h1>
    		<h1 class="smallheading"> Vasu Jogani </h1>
			<div class="credentials margintop lipadding">
				<ul class="uilist">
					<li class="item" ng-repeat="x in info">{{x}}</li>
					<li class="item" ng-repeat="x in links"><a href={{x.link}}>{{x.inf}}</a></li>
				</ul>
			</div>
			<div class="achievements margintop lipadding">
				<h2 class="header">Known For</h2>
				<ul class="uilist">
					<li class="item" ng-repeat="l in knowns"> {{l.pre}} <i><a href={{l.link}}> {{l.linktxt}}</a></i></li>
				</ul>
			</div>
			<div class="fluent margintop lipadding">
				<h2 class="header">Fluent In</h2>
				<ul class="uilist">
					<li class="item" ng-repeat="x in languages">{{x}}</li>
				</ul>
			</div>
    	</div>
		<div class="col-sm-9 right" ng-controller="detailCntrl">
    		<h1 class="largeheadingright"> Jogani <h1>

    		<p class="bio">
    			{{ bio }}
    		</p>
    		<!--ng-init="parentIndex = $index"-->	
    		<div ng-repeat="x in everything" ng-init="parentIndex = $index">    		
				<h2 class="heading">{{x.head}} </h2>
				<div class="category" ng-repeat="y in x.topics">
					<div class="cattitle" ng-if="$parent.$index<3">
						{{y.name}} - <i> {{y.title}} </i>
					</div>
					<!--<div class="cattitle" ng-if="$parent.$index>0">
						{{y.name}} 
					</div>-->
					<div class="catdescription" ng-if="$parent.$index<3">
						<p> {{ y.desp}} </p>
					</div>
					<div class="catdescription" ng-if="$parent.$index>2">
						<p> {{ y}} </p>
					</div>

					

				</div>
			</div>
    	</div>
  	</div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
	<script src="resume.js"></script>
	
	
</body>
</html>